<footer id="footer" class="footer">
  <p>crosslifechristianfellowship@gmail.com</p>
  <p>Gardena, CA 90247</p>
  <div id="footer-socials" class="footer-socials">
    <a
      href="https://www.instagram.com/crosslifechristianfellowship?igsh=MTc4MmM1YmI2Ng=="
      target="_blank"
      aria-label="Instagram"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://www.youtube.com/@crosslifeGPC"
      target="_blank"
      aria-label="YouTube"
    >
      <i class="fab fa-youtube"></i>
    </a>
    <a
      href="https://open.spotify.com/show/6Id4sva6LhINXQFgXQIcNG?si=d224bad13b5a4395"
      target="_blank"
      aria-label="Spotify"
    >
      <i class="fab fa-spotify"></i>
    </a>
  </div>
</footer>
